boto3
python-dotenv
pymysql
PyMuPDF
pandas
tiktoken
langchain
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-chroma
chromadb
sentence-transformers
llama-cpp-python
fastapi
pydantic[email]
uvicorn[standard]
bcrypt